/**
 * Settings
 */

$base-em: 16px

// Layout
$wrap-padding: 16px
$bp-small: 480px

// Typography
$font-primary: 'Helvetica Nueue', Helvetica, Arial, san-serif

// Colors
$color-text: #161616
$color-bg: white