/**
 * Settings
 */

$base-em: 16px

// Layout
$wrap-padding: 32px
$bp-small: 480px
$body-width-max: 1024px

// Typography
$font-primary: 'Helvetica Nueue', Helvetica, Arial, san-serif

// Colors
$color-text: white
$color-bg: #1b1b1b
$color-bg-alt: #222
$color-highlight: rgba(white, 0.03)
$color-info: #ccc
$color-ticks: #666
$color-knob: #555
$color-knob-alt: #444
$color-tip-highlight: rgba(white, 0.06)

// Metrics
$trend-knob-arrow-width: 9px
$trend-knob-arrow-height: 11px