/**
 * Stylesheet
 */

@import 'settings'
@import 'functions'
@import 'reset'

*, *:before, *:after
    box-sizing: border-box

html
	height: 100%
	font-size: 100%

body
	margin: 0
	height: 100%
	background-color: white
	font-family: $font-primary
	font-size: 1rem
	line-height: 1
	color: $color-text
	background-color: $color-bg

a
	color: inherit

strong
	font-weight: bold

.wrap
	margin: 0 auto
	padding-left: $wrap-padding
	padding-right: $wrap-padding
	max-width: rem($body-width-max)
	width: 100%

.header__title
	margin-top: rem(64px)
	margin-bottom: rem(12px)
	font-size: rem(48px)
	font-weight: bold

.header__description
	margin-bottom: rem(32px)
	font-size: rem(21px)
	line-height: rem(27px)

.footer
	margin-top: rem(48px)
	margin-bottom: rem(72px)
	text-align: center
	color: $color-info

// ----------------------------------------------------------------------------
// Chart
// ----------------------------------------------------------------------------

.chart-header
	padding-top: rem(24px)

.chart-header--mass
	padding-top: rem(36px)

.chart-header__title
	font-size: rem(21px)
	font-weight: bold
	margin-bottom: rem(16px)

.chart-tip
	position: absolute
	top: 0
	left: 0
	padding: 0.5rem 0.4rem 0.4rem 0.4rem
	background-color: white
	font-size: rem(12px)
	color: black
	pointer-events: none

.chart
	position: relative
	text
		font-family: $font-primary
		font-size: rem(10px)
	.x-axis, .y-axis
		text
			fill: $color-ticks
		line, path
			stroke: $color-ticks
	.x-axis .label
		font-size: rem(12px)
		font-weight: bold
	.bound
		fill: transparent
	.range-highlight
		fill: $color-highlight
	.tip-highlight
		fill: $color-tip-highlight
		opacity: 0
		&.-active
			opacity: 1

// ----------------------------------------------------------------------------
// Trend Section
// ----------------------------------------------------------------------------

.trend-body
	background-color: $color-bg-alt

.trend-legends
	list-style: none
	display: flex
	margin-top: rem(-8px)
	margin-bottom: rem(16px)

.trend-legends__item
	transition: opacity 0.25s
	display: flex
	flex-wrap: nowrap
	margin-right: rem(21px)
	&.-disabled
		opacity: 0.2

.trend-legends__color
	display: block
	width: rem(37px)
	height: rem(18px)
	background-color: white

.trend-legends__label
	display: block
	margin-left: rem(8px)
	line-height: 1
	padding-top: rem(2px)

.trend-knob
	position: absolute
	left: 0
	bottom: 0
	padding: 0.5rem 0.4rem 0.4rem 0.4rem
	background-color: $color-knob
	font-size: rem(12px)
	cursor: col-resize
	user-select: none
	&:before
		content: ''
		transform: translate(-50%, 0)
		position: absolute
		top: rem(-$trend-knob-arrow-height * 2 + 1)
		left: 50%
		display: block
		border-left: solid rem($trend-knob-arrow-width) transparent
		border-right: solid rem($trend-knob-arrow-width) transparent
		border-top: solid rem($trend-knob-arrow-height) transparent
		border-bottom: solid rem($trend-knob-arrow-height) $color-knob
	&:nth-of-type(2)
		background-color: $color-knob-alt
		&:before
			border-bottom-color: $color-knob-alt

.trend-chart
	height: rem(320px)

// ----------------------------------------------------------------------------
// Mass Chart
// ----------------------------------------------------------------------------

.mass-chart
	height: rem(260px)
	.bar
		fill: $color-ticks

// ----------------------------------------------------------------------------
// Map Section
// ----------------------------------------------------------------------------

.map
	display: flex
	align-items: center
	justify-content: center
	height: rem(300px)

.map__placeholder
	display: block
	font-family: 'Menlo', monospace
	font-size: rem(21px)
	color: $color-info